
/*SOURCE: https://smallenvelop.com/display-loading-icon-page-loads-completely/*/
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, if it's not present, don't show loader */
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /*background: url('Images/Common/loader.gif') center no-repeat #fff;*/
    background: url('Images/Common/upcycling.gif') center no-repeat #fff;
    /*    background: url('Images/Common/upcycling.ico') center no-repeat lightgreen;
    animation: rotation 1s infinite linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}


@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(359deg);
    }
}

.menu{
    margin-left: 10px;
}

.menu .clickZone {
    margin: 0;
    margin-left:-90px;
    width: 200px;
    height: 100%;
/*    border: 2px solid;
    border-color: #808080;*/
    cursor: pointer;
}

.imgBtn {
    margin: 0 auto;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    cursor: pointer;
    opacity: .8;
    width: 22px;
    height: 22px;
}

    /*.social-media-top-left ul .imgBtn:hover {
    opacity: .9;
}*/

/*    #link .imgBtn.popupBtn {
        background-image: url('Images/Common/facebook.ico');
        width: 100%;
        height:100%;
    }*/

    .imgBtn.storeImg {
        background-image: url('Images/Common/popup.png');
        width: 250px;
        height: 150px;
        margin-bottom: 15px;
        opacity: .7;
    }

    .imgBtn.facebookBtn {
        background-image: url('Images/Common/facebook.ico');
    }

    .imgBtn.mailBtn {
        background-image: url('Images/Common/mail.ico');
    }

    .imgBtn.pinBtn {
        background-image: url('Images/Common/pin.ico');
    }

    .imgBtn.arrowBtn {
        background-image: url('Images/Common/arrow.ico');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: 22px;
        height: 22px;
    }

    .imgBtn.upBtn {
        /*margin: 0 auto;*/
        background-image: url('Images/Common/up.ico');
        width: 15px;
        height: 15px;
        margin-top: -5px;
        margin-bottom: 10px;
    }

    .imgBtn.downBtn {
        /*margin: 0 auto;*/
        background-image: url('Images/Common/down.ico');
        width: 15px;
        height: 15px;
    }

    .imgBtn.upcyclingBtn {
        background-image: url('Images/Common/upcycling.ico');
        width: 25px;
        height: 25px;
    }

    .imgBtn.upcyclingAni {
        background: url('Images/Common/upcycling.gif') center no-repeat #fff;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: 22px;
        height: 22px;
    }

    .imgBtn.menuBtn {
        background-image: url('Images/Common/menu.ico');
        width: 25px;
        height: 25px;
    }

    .imgBtn.logoBtn {
        /*margin: 0 auto;*/
        background-image: url('Images/Common/stHout.png');
        /*margin-left: 10px;*/
        /*margin-bottom: -10px;*/
        margin-bottom: -12px;
        width: 90px;
        height: 40px;
    }

    .imgBtn.mainlogoBtn {
        /*margin: 0 auto;*/
        background-image: url('Images/Common/stHout.png');
        margin-bottom: -12px;
        width: 240px;
        height: 90px;
    }

    .imgBtn.menulogoBtn {
        background-image: url('Images/Common/stHout.png');
        margin-left: 10px;
        margin-bottom: -10px;
        width: 90px;
        height: 40px;
    }


/*http://jquery.eisbehr.de/lazy/example_basic-usage*/
/*.lazy {
            visibility: hidden;
        }*/
.brands ul, .slideTitle ul {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.brands li, .slideTitle li {
    display: inline;
    list-style: none;
}

.brandBullet {
    position: relative;
    margin: 0 auto;
    /*margin-top: -10px;*/
    width: 8px;
    height: 8px;
    /*margin-right: 10px;*/
    margin-right: 20px;
    display: inline-block;
    border-radius: 50%;
    background: #595959;
    opacity: 0.3;
    cursor: pointer;
    /*width: 100px;
            height: 50px;
            margin-right: 20px;
            margin-right: 20px;
            background-color: #d3d3d3;
            border: 1px solid #d3d3d3;
            border-radius: 50%;
            opacity: .35;
            filter: grayscale(100%);
            cursor: pointer;*/
}

    .brandBullet.closeBullet {
        background-image: url('https://jornvdw80.github.io/SThout/Images/Common/close.ico');
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        opacity: .3;
        width: 15px;
        height: 15px;
        border-radius: 0;
    }

    .brandBullet.infoBullet {
        background-image: url('https://jornvdw80.github.io/SThout/Images/Common/info.ico');
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        width: 15px;
        height: 15px;
        border-radius: 0;
    }

        .brandBullet.infoBullet.hasInfo {
            opacity: .8;
            /*animation: blink 2s step-start 0s infinite;
                    -webkit-animation: blink 2s step-start 0s infinite;*/
            /*float:right;
                    right: 20%;*/
        }

        .brandBullet:hover, .brandBullet.closeBullet:hover, .brandBullet.infoBullet:hover, .brandBullet.hover, .brandBullet.closeBullet.hover, .brandBullet.infoBullet.hover {
            opacity: .8;
        }

/*.brandBullet.closeBullet:hover{
                opacity:.8
            }*/

.brandImg {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-right: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    opacity: .35;
    filter: grayscale(100%);
    cursor: pointer;
}

    .brandImg:hover {
        opacity: .6;
    }

/* The Modal (background) */
.modal {
    margin: 0 auto;
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    border: none;
}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    /*margin-left:5px;*/
    /*margin-right:5px;*/
    padding: 0;
    /*          padding-left: 5px;
            padding-right: 5px;*/
    width: 100%;
    height: 100%;
    /*background-color: white;*/
    /*            border: 2px solid #d3d3d3;*/
    /*border-radius: 20px;*/
    overflow: hidden;
}

/* The Close Button */
.close {
    color: #999;
    position: absolute;
    margin: 0 auto;
    /*margin-right: 200px;*/
    top: 22px;
    /*right: 0;*/
    font-size: 35px;
    font-weight: bold;
    /*background-position: 15px 12px*/
}

    .close:hover,
    .close:focus {
        color: #808080;
        text-decoration: none;
        cursor: pointer;
    }

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: black;
}

/*remove highlight content smartphones after sliding*/
/*@media(hover: hover) and (pointer: fine) {
            .brandBullet:hover, .brandBullet.closeBullet:hover {
                opacity:.3;
            }
        }*/

.swiper-lazy-preloader {
    background: url('Images/Common/upcycling.ico') center no-repeat transparent;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    border: none;
    border-radius: unset;
    animation: rotation 0.5s infinite linear;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent; /*#fff;*/
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

    .swiper-slide .slideTitle {
        margin: 0 auto;
        bottom: -90px;
        /*left: 20px;*/
        /*float: left;*/
        text-align: center;
        position: absolute;
        width: 100%;
        /*z-index: 9999;*/
        color: black;
        font-size: 12px;
        margin-bottom: 50px;
        /*font-weight: bold;*/
        color: #808080;
        /*cursor: pointer;*/
        opacity: .8;
    }

        .swiper-slide .slideTitle span {
            font-size: 13px;
            color: #808080;
        }

.swiper-pagination {
    position: relative;
    margin-top: 20px;
}

.swiper-pagination-title {
    position: relative;
    margin-top: 70px;
}

.swiper-button-prev, .swiper-button-next {
    opacity: .5;
    color: dimgrey;
}

    .swiper-button-prev:hover, .swiper-button-next:hover {
        opacity: .9;
    }

@media screen and (max-width:420px) {
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}




/*Smartphones: Remove background while tapping */
:focus {
    outline: none !important;
}

body, .modal, .modal-content {
    background-image: url("Images/Common/backgroundBody.jpg");
    /*background-image: url("https://jornvdw80.github.io/SThout/Images/Common/backgroundBody.jpg");*/
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

aside {
    background-image: url("https://jornvdw80.github.io/SThout/Images/Common/backgroundAside.png");
    /*background-image: url("images/Kader.jpg");
            background-image: url("images/Lampenblusser Achtergrond.png");*/
    /*background-size: contain;*/
}

*, body {
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

img {
    text-align: center;
}

#header, aside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: .9;
    background-color: #fff
}

#main-nav ul li:last-child, *, body {
    margin: 0
}

#navigate ul, aside, body {
    text-align: center
}

#header, aside {
    background-color: #fff
}

#navigate ul {
    background-color: transparent;
}

#navigate ul, *, body {
    padding: 0
}

#eventsSection ul, #newsSection ul, #navigate ul {
    display: block;
    list-style-type: none
}

    a, #eventsSection ul li, #newsSection ul li, page5 #link ul li {
        text-decoration: none
    }

.page5 .mail, a, h1, h2 {
    font-weight: 700
}

#eventsSection ul, #newsSection ul, #navigate ul, .page5 #link ul, li {
    list-style-type: none
}

.enlarge, a:hover {
    cursor: pointer
}

* {
    color: #000;
    font-size: 16px;
    font-family: sans-serif
}

p {
    line-height: 1.4;
}

html {
    overflow-x: hidden;
    overflow-y: scroll
}

#header {
    height: auto;
    padding: 10px 0 8px;
    border-bottom: 3px dotted #d3d3d3;
}

.social-media-middle {
    position: center;
    /*left: -40px;
    top: 25px;*/
    margin: 0 auto;
    width: 300px;
    margin-top: -1em;
    /*    margin-left: 15px;
    margin-top: 20px;*/
    /*z-index: 999;*/
    opacity: .7;
    /*    border: 1px solid black;*/
    /*    border: 1px solid black;*/
}

.social-media-top-left {
    position: fixed;
    /*left: -40px;
    top: 25px;*/
    width: auto;
    /*margin-top: -2.5em;*/
    margin-left: 15px;
    margin-top: 20px;
    z-index: 999;
    opacity: .7;
    /*    border: 1px solid black;*/
}

    .social-media-top-left li, .social-media-middle li {
        filter: grayscale(100%);
        opacity: .3;
        width: auto;
        display: inline-block;
        margin: 0 auto;
        padding-right: 10px;
        /*margin-right: 5px;*/
        /*margin-right: -8px;*/
        /*border: 1px solid black;
        z-index: 9999999;*/
    }

        .social-media-middle li{
            opacity:1;
            display: block;
            /*padding-left: 10px;*/
        }

        .social-media-top-left li a, .social-media-middle li a {
            display: block;
        }

        #sub-header {
        position: absolute;
        top: 15px;
        right: 10px;
        height: auto;
        z-index: 10;
        background-color: transparent;
    }

aside {
    float: left;
    width: 120px;
    margin: 120px 0 0 5%;
    padding: 5px 10px 10px;
    border: 3px dotted #d3d3d3;
    border-radius: 20px;
    opacity: 1;
}

#aside-nav ul, #main-nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none
}

#main-nav ul {
    display: none;
    margin-top: -10px;
}

    #aside-nav ul li a, #main-nav ul li a, .link {
        display: inline-block;
        width: auto;
        color: #191919;
        font-size: 16px;
        font-weight: 700
    }

        #aside-nav ul li a.active, #aside-nav ul li a:hover, #main-nav ul li a.active, #main-nav ul li a:hover, .future article a:hover, .link:hover, .past article a:hover, .page1 article a p:hover {
            color: #46b8da
        }

#navigate ul {
    margin: 0 auto;
    width: 40px;
    opacity: .5;
    border-radius: 100px
}

.page1, .page2 {
    margin: 0 0 100px;
    min-height: 500px;
    height: 100%;
    position: relative
}

.content {
    padding: 80px 0 0;
    z-index: 10
}

.hashtag {
    font-weight: bold;
    font-size: 14px;
}

.page1 .hashtag {
    font-weight: bold;
    font-size: 12px;
}

.page1 section, .page1 section a {
    padding: 0
}

.page1 #front-logo {
    margin: auto;
    padding: 0 0 15px;
    width: 240px;
    padding-left: 20px
}

.page2 article {
    padding: 0;
    position: relative;
    margin: auto;
    text-align: center;
    width: 400px;
    background-color: #fff;
    opacity: .9;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px dotted;
    border-color: #d3d3d3;
    border-radius: 20px;
}

.page1 article {
    padding: 0;
    padding-top: 30px;
    position: relative;
    margin: auto;
    text-align: center;
    width: 220px;
}

#eventsSection ul, #newsSection ul, .page5 article, h1, h2 {
    text-align: center
}

.page1 article p, .page2 article p {
    padding: 0;
    margin: 10px 0 0
}

.page3 {
    position: relative;
    min-height: 500px;
    height: 100%;
    margin: 0 0 100px
}

    .page3 .thumbs {
        position: relative;
        width: 500px;
        min-height: 300px;
        margin: 10px auto;
        /*padding: 0 15px 10px;*/
        background-color: #fff;
        opacity: .9;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        border: 3px dotted;
        border-color: #d3d3d3;
        border-radius: 20px;
    }

.page4 {
    position: relative;
    min-height: 500px;
    height: 100%;
    margin: 0 0 100px
}

    .page4 #eventsSection, .page4 #newsSection {
        position: relative;
        display: inline-block;
        margin: auto;
        text-align: center;
        width: 330px
    }

#eventsSection ul, #newsSection ul {
    margin: 0;
    padding: 0
}

    #eventsSection ul li, #newsSection ul li {
        margin-bottom: 5px;
    }

/*.page4 .eventTitle {
            font-weight: normal;
        }*/

.page4 .eventTitle, .page4 .newsTitle {
    font-weight: bold;
    font-size: 13px;
}

.page4 article a, .page4 article p {
    margin: 0;
    padding: 0;
    color: #fff;
}

.past article a, .past article p {
    margin: 0;
    padding: 0;
    opacity: .7;
    font-size: 14px;
    color: #000;
}

.swiper-slide article p {
    font-size: 14px;
}

/*.past .eventInfo p {
            color: #00008b;
        }*/

.future article a, .future article p {
    margin: 0;
    padding: 0;
    opacity: .7;
    font-size: 14px;
    color: #00008b;
}

.productBtn.new {
    font-weight: bold;
    color: #00008b;
}

/*.future article p {
    color: #00008b;
}*/

    #eventsList li.future article, #newsList li.future article {
    /*background-color: #f9f9ff;*/
    /*background-color: #CCCCFF;*/
    /*border-color: slateblue;*/
}

.past article a, .future article a, .past .newsSubTitle, .future .newsSubTitle {
    font-size: 18px;
}

.past .eventTitle:hover, .future .eventTitle:hover, .hasInfo .eventTitle:hover {
    text-decoration: none;
}

.past .newsTitle:hover, .future .newsTitle:hover, .hasInfo .newsTitle:hover {
    text-decoration: none;
}

.swiper-slide article /*, .hasPopupInfo*/ {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    margin: 0;
    /*position: relative;*/
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid;
    border-color: #808080;
    border-radius: 20px;
    text-align: center;
    background-color: #fff;
    opacity: .9;
    cursor: pointer;
}

.swiper-slide .popupClickZone{
    margin: 0 auto;
    width: 300px;
    height: 100%;
/*    border: 2px solid;
    border-color: #808080;*/
    cursor: pointer;
}

.hasPopupInfo {
    /*            width: 10px;
            height: 10px;*/
    /*border: none;*/
    opacity: 0.8;
    /*animation: blink 1s step-start 0s infinite;
            -webkit-animation: blink 1s step-start 0s infinite;*/
    cursor: pointer;
    /*width: auto;
            height: 80px;*/
    margin: 0 auto;
    padding: 0;
    /*padding-top: 15px;*/
    float: left;
    border: 2px solid #DCDCDC;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /*left: 20px;*/
    background-image: url('https://jornvdw80.github.io/SThout/Images/Common/info.ico');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-color: #fbfbfb;
    /*border: 2px solid #d3d3d3;*/
    /*border: 1px solid #fbfbfb;*/
    /*border: 1px solid #808080;*/
    /*border: 1px solid #d3d3d3;*/
    /* border-radius: 0;
            opacity: .7;*/
    /*filter: grayscale(100%);*/
}

@keyframes blink {
    50% {
        opacity: 0.8;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.8;
    }
}

/*.eventInfo,*/
#eventsList li article, #newsList li article {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px dotted;
    border-color: #d3d3d3;
    border-radius: 20px;
    text-align: center;
    background-color: #fff;
    opacity: .9;
    /*cursor: pointer;*/
}

    .page5 #link:hover, .swiper-slide article:hover, #header:hover, #navigate ul:hover, aside:hover, .page2 article:hover, .page3 .thumbs:hover, #eventsList li article:hover, #newsList li article:hover {
        background-color: #fbfbfb;
        /*border: 3px dotted;*/
        border-color: #808080;
    }


        .modal .swiper-slide, .swiper-slide article {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

#eventsList li article:hover .preview, #newsList li article:hover .preview /*, #eventsList li.future article .preview, #newsList li.future article .preview*/ {
    background-color: white;
    /*border: 2px solid;*/
    /*border-color: #808080;*/
    opacity: .9;
}

/*.preview:hover {
            border: 1px solid #808080;
        }*/
.past .eventTitle, .future .eventTitle, .hasInfo .eventTitle {
    margin-bottom: 3px;
}

.past .newsTitle, .future .newsTitle, .hasInfo .newsTitle {
    margin-bottom: 3px;
}

.eventInfo {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 2px;
    text-align: center;
}

#more {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 0;
    padding-top: 15px;
    float: right;
}

.preview {
    /*width: auto;
            height: 80px;*/
    margin: 0 auto;
    padding: 0;
    /*padding-top: 15px;*/
    float: left;
    /*border: 2px solid #DCDCDC;
            border-radius: 50%;*/
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #fbfbfb;
    /*border: 2px solid #d3d3d3;*/
    /*border: 1px solid #fbfbfb;*/
    /*border: 1px solid #808080;*/
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    opacity: .7;
    filter: grayscale(100%);
}

/*.future .preview {
    filter: grayscale(50%);
    background-color: slateblue;
}*/

    .preview.info {
        width: 50px;
        height: 50px;
        background-image: url('https://jornvdw80.github.io/SThout/Images/stHout.png');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

.hasInfo {
    cursor: pointer;
}

.noInfo .eventTitle, .noInfo .newsTitle {
    cursor: default;
}

.page5 {
    position: relative;
    min-height: 500px;
    margin: 0 0 50px;
    /*min-height: 100%;
            height: 70vh;
            margin: 0 0 100px;*/
}

    .page5 article {
        position: relative;
        margin: auto;
        width: 280px;
    }

    .page5 .mail, h1, h2, section {
        margin: 0 auto
    }

    .page5 .mail {
        padding: 0
    }

    .page5 .contact p, .page5 .contact a {
        font-size: 14px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .page5 #link, .page5 h2 {
        position: relative;
        top: 15%;
    }

    .page5 #link {
        /*background-image: url('Images/Common/popup.png');
        filter: grayscale(100%);*/
        background-color: #fff;
        border: 3px dotted #d3d3d3;
        border-radius: 20px;
        opacity: 1;
        text-align: center;
        width: 300px;
        /*margin-top: 25px;*/
    }

        .page5 #link ul {
            margin: 0 auto;
            /*padding: 15px 0 0;*/
            display: inline;
        }

            .page5 #link ul li{
                margin:0 auto;
                margin-top: 10px;
            }

            section {
                padding: 10px 0
            }

h1, h2 {
    font-size: 16px;
    padding: 0 0 20px
}

    h1 span, h2 span {
        display: inline;
        padding: 0
    }

        h1 span strong, h2 span strong {
            display: normal;
            padding: 0
        }



article, p {
    padding: 10px 0 0
}

.p-no-margin, a .logo, li {
    padding: 0
}

li {
    margin: 0
}

a .logo {
    opacity: 1
}

img.menu-icon {
    width: 25px;
    height: 25px;
    padding: 0px;
    margin-left: -200px;
    margin-top: -10px;
    padding-left: 205px;
    padding-right: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: .5;
}

.menu-icon-light {
    opacity: .5;
}

#menu-img-home:hover, a .logo:hover {
    opacity: .7
}



.menu-icon-light:hover, .menu-icon:hover {
    cursor: pointer;
    opacity: .8;
}

.enlarge {
    width: auto;
    height: auto;
    max-width: 440px;
    max-height: 200px;
    clip: rect(0 60px 60px 0);
    margin: 5px 5px 0 0;
    opacity: .5;
    border: 1px solid #DCDCDC;
    border-radius: 10px
}

.slides {
    display: none;
}

.slideshow-container {
    max-width: 500px;
    max-height: 500px;
    position: relative;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    overflow: hidden;
}

.swiper-block {
    width: 500px;
    height: 300px;
}

.slideImg {
    /*margin: auto;
            width: 300px;
            height: 300px;
            left: -600px;
            clip: rect(0 200px 200px 0);
            border-radius: 24px;*/
    /*margin-top: 20px;*/
    /*text-align: center;
            vertical-align: top;
            object-fit: scale-down;
            cursor: pointer;*/
    /*width: 50px;
            height: 300px;*/
    /*            width: 350px;
            height: 350px;*/
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
    opacity: .8;
    /*cursor: pointer;*/
}

    .slideImg .clickZone {
        width: 250px;
        height: 250px;
        cursor: pointer;
        /*border: 1px solid black;*/
    }

.popupslideImg {
    width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    /*background-color: white;*/
    /*border: 1px solid white;*/
    /*border-radius: 50px;*/
    opacity: .8;
    /*cursor: pointer;*/
}

/* The dots/bullets/indicators */
.dot {
    height: 10px;
    width: 10px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1.5s ease;
    cursor: pointer;
}

.arrowLeft {
    opacity: .8;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    padding: 0px;
    transform: rotate(-90deg);
    cursor: pointer;
}

.arrowRight {
    opacity: .8;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    padding: 0px;
    transform: rotate(90deg);
    cursor: pointer;
}

/*.current {
            background-color: #717171;
        }*/

/* Fading animation */
.fade {
    /*-webkit-animation-name: fade;
            -webkit-animation-duration: 3s;
            animation-name: fade;
            animation-duration: 3s;*/
    -webkit-animation: fadeinout 4.5s linear forwards;
    animation: fadeinout 4.5s linear forwards;
}

@-webkit-keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

.thumbEventInfo, .thumbNewsInfo {
    width: auto;
    height: auto;
    max-width: 160px;
    max-height: 160px;
    clip: rect(0 60px 60px 0);
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: .8;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}

    .thumbEventInfo:hover {
        opacity: 1;
    }

.enlarge:hover /*, .slides:hover, .slideImg:hover*/ {
    opacity: 1
}

@media screen and (max-height:520px) {
    .page5 {
        min-height: 400px;
        margin: 0;
    }
}

@media screen and (max-height:500px) {
    .page5 {
        min-height: 320px;
        margin: 0;
    }
}

@media screen and (max-width:1100px) {
    aside {
        margin-left: 5%
    }
}

@media screen and (max-width:950px) {
    /*Do not use this, solved with javascript, which gives the expected result on load
    /*aside {
        display: none
    }*/
}

@media screen and (max-width:750px) {
    #main-nav ul li, #navigate ul li {
        margin: 5px 0
    }
}

@media screen and (max-width:720px) {
    .page3 .thumbs {
        position: relative;
        width: 250px;
        margin: 10px auto;
        /*padding: 0 15px 10px*/
    }
}

@media screen and (max-width:520px) {
    .page1 #front-logo {
        margin: auto;
        padding: 0 0 15px;
        width: 200px;
        padding-left: 20px
    }

    .page3 .thumbs {
        position: relative;
        width: 250px;
        margin: 10px auto;
        /*padding: 0 15px 10px*/
    }

    .slideshow-container {
        max-width: 90%;
        max-height: 500px;
        position: relative;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .modal-content, .popupslideImg /*, .slideImg*/ {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        /*height: 400px;*/
        /*margin-top: 25px;*/
    }
}

@media screen and (max-width:500px) {
    /*.dot {
                height: 12px;
                width: 12px;
                margin: 0 5px;
            }
            .arrowLeft .arrowRight {
                height: 12px;
                width: 12px;
                margin: 0 5px;
            }*/

    .page2 article, .page4 #eventsSection, .page4 #newsSection {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 280px;
    }

    .page2 article {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .page4 #eventsSection, .page4 #newsSection {
        margin-right: 30px;
    }

    .imgBtn.logoBtn{
        margin-left:10px;
    }

    h1, h2 {
        margin-bottom: 5px;
    }

        h1 span, h2 span {
            display: inline-block;
            padding: 50px, 0px;
            margin-bottom: 10px;
        }

            h1 span strong, h2 span strong {
                display: none;
                padding: 0px;
            }
}

@media screen and (max-width:420px) {
    .page2 article, .page4 #eventsSection, .page4 #newsSection {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 70%;
    }

    .page2 article {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .page4 #eventsSection, .page4 #newsSection {
        margin-right: 30px;
    }
}

.button, .yearBtn, .newsBtn, .productBtn {
    color: black;
    border: 1px solid;
    border-color: #d3d3d3;
    outline: none;
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 4px;
    width: auto;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: center;
}

    .activeBtn, .activeYearBtn, .activeNewsBtn, .activeProductBtn, .button:hover, .yearBtn:hover, .newsBtn:hover, .productBtn:hover {
        outline: none;
        border: 2px solid;
        border-color: #46b8da;
        border-radius: 4px;
        padding: 12px 12px;
        width: max-content;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

.nav li {
    margin: 5px 0px;
}

/*.contact {
            margin: auto;
            padding: 0;
            text-align: center;
            list-style-type: none;
            border: 2px solid;
            border-color: #46b8da;
        }*/

.contact li {
    margin: 15px 0px;
    display: inline-block;
}

.futureBtn, .pastBtn {
    display: none;
}

.btn-group {
    max-width: 400px;
    position: relative;
    margin: auto;
}

.activeYearBtn, .activeNewsBtn, .activeProductBtn, .activeProductBtn.new {
    background-color: #46b8da;
    color: white;
}

.collapse, .eventInfo {
    display: none
}

    .collapse.in {
        display: block
    }

.page2 h1, .page3 h2, .page4 h2, .page5 h2 {
    margin-top: 10px;
}

/*        @media(hover: hover) and (pointer: fine) {
            .brandBullet:hover, .brandBullet.closeBullet:hover {
                opacity:.8;
            }
        }

        @media(hover: hover) and (pointer: fine) {
            .brandBullet, .brandBullet.closeBullet {
                opacity: .3;
            }
        }*/

.popupTitle {
    font-weight: bold;
    font-size: 10px;
    margin-top: -10px;
}

.popupSubTitle {
    font-size: 14px;
}

textarea.link {
    font-size: 14px;
    margin: 0 auto;
    resize: none;
    border: none; /*1px solid black;*/
    background-color: transparent;
    text-align: center;
    width: 250px;
    height: 20px;
    cursor:pointer;
}

    textarea.link::selection{
        background-color: transparent;
    }

    /* Popup container - can be anything you want */
    .tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* The actual popup */
    .tooltip .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
        font-size: 12px;
    }

        /* Popup arrow */
        .tooltip .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Toggle this class - hide and show the popup */
    .tooltip .show {
        visibility: visible;
        -webkit-animation: fadeinout 3.5s linear forwards;
        animation: fadeinout 3.5s linear forwards;
    }
